<div class="app-home">
    <div class="top-bar">
        <app-search-bar></app-search-bar>
    </div>
    <div class="main-content" fxLayout="row" fxLayoutAlign="start start">
        <div [ngClass]="showCategorySidebar==true ? '': 'display-none'" class="category-products">
            <app-category-sidebar></app-category-sidebar>
        </div>
        <div [ngClass]="showCategorySidebar==true ? '': 'w-100'" class="products-carousel-and-cart" fxLayout="row" fxLayoutAlign="space-between start">
            <div [ngClass]="isCartViewOn==true ? 'products-carousel': ''">
                <app-top-carousel></app-top-carousel>
                <app-highlighted-category></app-highlighted-category>
                <app-product-list></app-product-list>
            </div>
            <div *ngIf="isCartViewOn" class="cart-details">
                <app-cart-details></app-cart-details>
            </div>
        </div>
    </div>
</div> 