.category-sidebar{
    
    height: 100%;
    box-sizing: border-box;
    padding: 16px 0px 16px 16px;
    border-right: 1px solid #ccc;
    .category-list{
        .category:hover{
            background: linear-gradient(to right,#fff 0,#008000 100%)
        }
        .category{
            cursor: pointer;
            font-size: 14px;
            padding: 8px 0;
            .left{
                .category-icon{
                    img{
                        height: 20px;
                        width: 20px;
                    }
                }
                .category-name{
    
                }
            }
            .category-indicator{
                color: black;
                margin-right: 8px;
                mat-icon{
                    font-size: 20px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}