<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <p>
                    <span class="icon" 
                    style="display: flex;
                    justify-content: center;
                    align-items: center;">
                        <img width="35px" height="35px" src="../../../../assets/images/tartaja2.png" alt="">
                    </span>
                    <span class="title">Tartaja</span>
                </p>
            </li>

            <li id="dashboard">
                <p>
                    <span class="icon">
                        <i class="fa-solid fa-house"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </p>
            </li>

            <li id="product">
                <p>
                    <span class="icon">
                        <i class="fas fa-file-medical"></i>
                    </span>
                    <span class="title">Product</span>
                </p>
            </li>

            <li id="productlist">
                <p>
                    <span class="icon">
                        <i class="fa-solid fa-list-ul"></i>
                    </span>
                    <span class="title">Product Lists</span>
                </p>
            </li>

            <li>
                <p>
                    <span class="icon">
                        <i class="fa-solid fa-question"></i>
                    </span>
                    <span class="title">Help</span>
                </p>
            </li>

            <li>
                <p>
                    <span class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </span>
                    <span class="title">Settings</span>
                </p>
            </li>

            <li>
                <p>
                    <span class="icon">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <span class="title">Password</span>
                </p>
            </li>

            <li>
                <p>
                    <span class="icon">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                    <span class="title">Sign Out</span>
                </p>
            </li>
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </label>
            </div>

            <div class="user">
                <img src="assets/imgs/customer01.jpg" alt="">
            </div>
        </div>

        <!-- ======================= Dashboard ================== -->
        <div id="dashboard-content" class="content">
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">1,504</div>
                        <div class="cardName">Daily Views</div>
                    </div>

                    <div class="iconBx">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Sales</div>
                    </div>

                    <div class="iconBx">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">284</div>
                        <div class="cardName">Comments</div>
                    </div>

                    <div class="iconBx">
                        <i class="fa-solid fa-comments"></i>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">$7,842</div>
                        <div class="cardName">Earning</div>
                    </div>

                    <div class="iconBx">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent Orders</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Payment</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Star Refrigerator</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status delivered">Delivered</span></td>
                            </tr>

                            <tr>
                                <td>Dell Laptop</td>
                                <td>$110</td>
                                <td>Due</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Apple Watch</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status return">Return</span></td>
                            </tr>

                            <tr>
                                <td>Addidas Shoes</td>
                                <td>$620</td>
                                <td>Due</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr>

                            <tr>
                                <td>Star Refrigerator</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status delivered">Delivered</span></td>
                            </tr>

                            <tr>
                                <td>Dell Laptop</td>
                                <td>$110</td>
                                <td>Due</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Apple Watch</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status return">Return</span></td>
                            </tr>

                            <tr>
                                <td>Addidas Shoes</td>
                                <td>$620</td>
                                <td>Due</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Customers</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
       </div>
       
        <!-- ======================= product ================== -->
       <div id="product-content" class="content" style="margin-top: 30px; display: none;">
        <div class="product-container">
            <form class="product-form">
              <h3 class="product-title">
                Add Your Product
              </h3>
              <div class="product-field-parent">
                <mat-form-field class="mat-form-field product-field" appearance="outline">
                  <mat-label class="label-text">Product Name</mat-label>
                  <input
                    required
                    matInput
                    name="ProductName"
                    placeholder="Enter your product Name"
                  />
                  <!-- <mat-error *ngIf="Name.invalid && Name.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                </mat-form-field>
                <mat-form-field class="mat-form-field product-field" appearance="outline">
                  <mat-label class="label-text">Product description</mat-label>
                  <input
                    required
                    matInput
                    name="Product description"
                    placeholder="Enter your product description"
                  />
                  <!-- <mat-error *ngIf="Name.invalid && Name.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                </mat-form-field>
                <div class="product-phone-feild-conteiner product-field">
                  <mat-form-field class="mat-form-field" appearance="outline">
                    <mat-label class="label-text">Product Quantity</mat-label>
                    <input
                      required
                      matInput
                      name="Product quantity"
                      placeholder="Enter your product quantity"
                    />
                    <!-- <mat-error *ngIf="Phone.invalid && Phone.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                  </mat-form-field>
                  <mat-form-field class="mat-form-field" appearance="outline">
                    <mat-label class="label-text">Product price</mat-label>
                    <input
                      required
                      matInput
                      name="Product price"
                      placeholder="Enter your product price"
                    />
                    <!-- <mat-error *ngIf="AlternativePhone.invalid && AlternativePhone.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                  </mat-form-field>
                </div>
                <div style="padding-bottom:40px;">
                    <label class="product-choose-label">Choose your product photo
                        <input type="file" size="60" >
                    </label> 
                    
                </div>
              </div>
              
              <button type="submit">Add Product</button>
            </form>
          </div>
       </div>

       <!-- ======================= product list ================== -->
       <div id="productlist-content" class="content" style="margin-top: 30px; display: none;">
        <div class="product-list">
            <div class="pro-header">
                <h2>Product Lists</h2> 
            </div>

            <table>
                <thead>
                    <tr>
                        <td class="name-td">Name</td>
                        <td>Price</td>
                        <td>Payment</td>
                        <td class="status-td">Status</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Star Refrigerator</td>
                        <td>$1200</td>
                        <td>Paid</td>
                        <td><span class="status product-list-delivered">Delivered</span></td>
                    </tr>

                    <tr>
                        <td>Dell Laptop</td>
                        <td>$110</td>
                        <td>Due</td>
                        <td><span class="status product-list-pending">Pending</span></td>
                    </tr>

                    <tr>
                        <td>Apple Watch</td>
                        <td>$1200</td>
                        <td>Paid</td>
                        <td><span class="status product-list-return">Return</span></td>
                    </tr>

                    <tr>
                        <td>Addidas Shoes</td>
                        <td>$620</td>
                        <td>Due</td>
                        <td><span class="status product-list-inProgress">In Progress</span></td>
                    </tr>

                    <tr>
                        <td>Star Refrigerator</td>
                        <td>$1200</td>
                        <td>Paid</td>
                        <td><span class="status product-list-delivered">Delivered</span></td>
                    </tr>

                    <tr>
                        <td>Dell Laptop</td>
                        <td>$110</td>
                        <td>Due</td>
                        <td><span class="status product-list-pending">Pending</span></td>
                    </tr>

                    <tr>
                        <td>Apple Watch</td>
                        <td>$1200</td>
                        <td>Paid</td>
                        <td><span class="status product-list-return">Return</span></td>
                    </tr>

                    <tr>
                        <td>Addidas Shoes</td>
                        <td>$620</td>
                        <td>Due</td>
                        <td><span class="status product-list-inProgress">In Progress</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
       </div>

    </div>
</div>
