<div class="app-checkout">
  <div class="top-bar">
    <app-search-bar></app-search-bar>
  </div>
  <div class="main-content" fxLayout="row" fxLayoutAlign="start start">
    <div
      [ngClass]="categorySidebar == true ? '' : 'display-none'"
      class="category-products"
    >
      <app-category-sidebar></app-category-sidebar>
    </div>
    <div
      [ngClass]="{'w-100' : categorySidebar == false, 'place-content-center' : isCartViewOn==false }"
      class="products-carousel-and-cart"
      fxLayout="row"
    >
      <div class="m-16" [ngClass]="isCartViewOn==true ? 'checkout-main': 'w-100'"> 
        <div class="checkout-container">
          <form class="checkout-form">
            <h3 class="checkout-title">
              Shipping Address
              <span class="checkout-sub-title"
                >(Please Fill Out Your Information)</span
              >
            </h3>
            <div class="checkout-field-parent">
              <mat-form-field class="mat-form-field" appearance="outline">
                <mat-label class="label-text">Full Name</mat-label>
                <input
                  required
                  matInput
                  name="FirstName"
                  placeholder="Enter your full name"
                />
                <!-- <mat-error *ngIf="Name.invalid && Name.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
              </mat-form-field>
              <div class="checkout-field-parent">
                <mat-form-field class="mat-form-field" appearance="outline">
                  <mat-label class="label-text">Phone No</mat-label>
                  <input
                    required
                    matInput
                    name="Phone No"
                    placeholder="Enter your Phone No"
                  />
                  <!-- <mat-error *ngIf="Phone.invalid && Phone.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                </mat-form-field>
                <!-- <mat-form-field class="mat-form-field" appearance="outline">
                  <mat-label class="label-text">Alternative Phone No</mat-label>
                  <input
                    required
                    matInput
                    name="Alternative Phone No"
                    placeholder="Enter your alternative Phone No"
                  />
                </mat-form-field> -->
              </div>
              <mat-form-field class="mat-form-field" appearance="outline">
                <mat-label class="label-text">Address</mat-label>
                <input
                  required
                  matInput
                  name="Address"
                  placeholder="Enter your address"
                />
                <!-- <mat-error *ngIf="Address.invalid && Address.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
              </mat-form-field>
            </div>
            <h3 class="checkout-title">
              Payment Method
              <span class="checkout-sub-title"
                >(Please select only one! payment method)</span
              >
            </h3>
            <div class="checkout-payment-card">
              <div class="payment-card">
                <div
                  class="left"
                  fxLayout="row"
                  fxLayoutGap="5px"
                  fxLayoutAlign="flex-start center"
                >
                  <input
                    type="radio"
                    name="Cash on Delivery"
                    class="card-radio"
                  />
                  <label for="Cash on Delivery" class="payment-icon">
                    <img
                      width="35px"
                      height="35px"
                      src="https://www.rokomari.com/static/200/images/cod.png"
                      alt=""
                    />
                    <span class="payment-title">Cash on Delivery</span>
                  </label>
                </div>
              </div>
              <div class="payment-card">
                <div
                  class="left"
                  fxLayout="row"
                  fxLayoutGap="5px"
                  fxLayoutAlign="flex-start center"
                >
                  <input type="radio" name="Bkash" class="card-radio" />
                  <label for="Bkash" class="payment-icon">
                    <img
                      class="payment-image"
                      src="https://www.rokomari.com/static/200/images/bkash.png"
                      alt=""
                    />
                  </label>
                </div>
              </div>

              <div class="payment-card">
                <div
                  class="left"
                  fxLayout="row"
                  fxLayoutGap="5px"
                  fxLayoutAlign="flex-start center"
                >
                  <input type="radio" name="Nagad" class="card-radio" />
                  <label for="Nagad" class="payment-icon">
                    <img
                      class="payment-image"
                      src="https://www.rokomari.com/static/200/images/Nagad-Logo.png"
                      alt=""
                    />
                  </label>
                </div>
              </div>

              <div class="payment-card">
                <div
                  class="left"
                  fxLayout="row"
                  fxLayoutGap="5px"
                  fxLayoutAlign="flex-start center"
                >
                  <input type="radio" name="Rocket" class="card-radio" />
                  <label for="Rocket" class="payment-icon">
                    <img
                      class="payment-image"
                      src="https://www.rokomari.com/static/200/images/rocket.png"
                      alt=""
                    />
                  </label>
                </div>
              </div>

              <div class="payment-card">
                <div
                  class="left"
                  fxLayout="row"
                  fxLayoutGap="5px"
                  fxLayoutAlign="flex-start center"
                >
                  <input type="radio" name="Master Card" class="card-radio" />
                  <label for="Master Card" class="payment-icon">
                    <img
                      class="payment-image"
                      src="https://www.rokomari.com/static/200/images/svg/icons/rok-icon-ssl.svg"
                      alt=""
                    />
                  </label>
                </div>
              </div>
            </div>
            <button class="mt-16" type="submit">Place Order</button>
          </form>
        </div>
      </div>

      <div *ngIf="isCartViewOn" class="cart-details">
        <app-cart-details></app-cart-details>
      </div>
    </div>
    
  </div>
</div>
