<div class="container">
    <app-left-sidebar></app-left-sidebar>
    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </label>
            </div>
            <button class="btn" (click)="onClickAddCategory()">Add Category</button>
            <div class="user">
                <img src="assets/imgs/customer01.jpg" alt="">
            </div>
        </div>
       
        <!-- ======================= product list ================== -->
        <div id="productlist-content" class="content" style="margin-top: 30px;">
            <div class="product-list">
                <div class="pro-header">
                    <h2>Category Lists</h2> 
                </div>

                <table>
                    <thead>
                        <tr>
                            <td class="name-td">Category</td>
                            <td class="status-td">Status</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let category of categories" (click)="onClickACategory()">
                            <td>{{ category.name }}</td>
                            <td><span class="status product-list-pending">Pending</span></td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>