<div class="product-list">
    <div class="product-list-header" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div class="product-list-header-icon">
            <mat-icon>redeem</mat-icon>
        </div>
        <div class="product-list-header-text">All Products</div>
    </div>
    <div class="product-list-view" fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center">
        <div class="single-product" fxLayout="column" fxLayoutGap="6px" fxLayoutAlign="center center"
        *ngFor="let product of productList">
            <img class="product-img" src="{{product.imgLink}}" alt="">
            <div class="product-name">{{product.name}}</div>
            <div class="product-quantity">{{product.quantity}} pcs</div>
            <div class="product-price">$ {{product.price}}</div>
            <div class="add-to-cart-button" (click)="addToCart(product)"  fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="center center">
                <mat-icon>add_shopping_cart</mat-icon>
                <div *ngIf="!product.counterInCart" class="add-to-cart-button-text">Add to cart</div>
                <div *ngIf="product.counterInCart" class="add-to-cart-button-text">{{product.counterInCart}}</div>
            </div>
        </div>
    </div>
</div>