.product-list {
    margin: 16px;

    .product-list-header {
        color: white;
        background: #008000;

        padding: 8px;
        border-radius: 4px;

        .product-list-header-icon {
            height: 24px;

            // mat-icon {}
        }

        .product-list-header-text {
            font-size: 20px;
        }
    }

    .product-list-view {
        margin-top: 16px;
        flex-flow: row wrap;

        .single-product:hover {
            box-shadow: 0 1px 3px 0 #008000;
            //box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
        }

        .single-product {
            border-radius: 4px;
            padding: 5px;
            width: 200px;
            margin-bottom: 40px;

            .product-img {
                width: 200px;
                height: 200px;
            }

            .product-name {
                height: 60px;
                font-size: 14px;
                text-align: center;
            }

            .product-quantity {
                font-size: 12px;
            }

            .product-price {
                font-size: 18px;
                font-weight: 700;
            }

            .counter-increase-decrease {
                border-radius: 4px;
                width: 100%;
                height: 37px;
                background-color: #008000;
                border: 1px solid #ebebeb;
                color: white;
                text-align: center;
                transition: all ease-in-out .15s;

                .add-remove-button {
                    background-color: #008000;
                    padding: 0 4px;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    cursor: pointer;
                    border: unset;
                    color: white;
                }

                .remove-button {
                    border-radius: 4px 0 0 4px;
                    border-right: 1px solid #006600;

                    // mat-icon {}
                }

                .item-counter {
                    font-size: 14px;
                    font-weight: 700;
                }

                .add-button {
                    border-radius: 0 4px 4px 0;
                    border-left: 1px solid #006600;

                    // mat-icon {}
                }
            }
        }
    }
}