<div class="container">
    <app-left-sidebar></app-left-sidebar>
    <div class="main">
        <app-top-bar></app-top-bar> 
        <div class="content">
            <div class="product-list">
                <div class="pro-header" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
                    <div class="primary-color"  fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
                        <i class="fa-solid fa-arrow-left back-icon" (click)="onClickAdminPanel()"></i>
                        <h2>Order Lists</h2> 
                    </div>
                </div>
                <div class="product-table">
                    <table>
                        <tbody> 
                            <ng-container *ngFor="let order of orders; let i = index">
                                <tr (click)="onorderClick(i)" [class.clicked-product]="selectedOrderIndex === i">
                                  <td>#ID {{ order._id }}</td>
                                  <td>{{ order.createdAt | date: 'MMMM d, y hh:mm a' }}</td>
                                  <td><span class="status" [ngClass]="getStatusColorClass(order.status)">{{ order.status }}</span></td>
                                </tr>
                            
                                <tr *ngIf="selectedOrderIndex === i" id="noHover">
                                    <td colspan="3">
                                      <h2>Order Details</h2>
                                      <div fxLayout="column" fxLayoutGap="32px">
                                        <div fxLayout="row" fxLayoutAlign="space-between start">
                                          <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start start">
                                            <div class="customer-section" fxLayout="row" fxLayoutGap="16px">
                                              <div class="curtomer-avatar">
                                                <span class="material-symbols-outlined">
                                                  person
                                                  </span>
                                              </div>
                                              <div class="customer-info" fxLayout="column" fxLayoutAlign="start start">
                                                <div class="customer-title mb-8">Customer</div>
                                                <div class="lh-24">{{order.customerName}}</div>
                                                <div class="lh-24">{{order.customerPhone}}</div>
                                                <div class="lh-24">{{order.customerEmail}}</div>
                                              </div>
                                            </div>
                                            <div class="customer-section" fxLayout="row" fxLayoutGap="16px">
                                              <div class="curtomer-avatar">
                                                <span class="material-symbols-outlined">
                                                  location_on
                                                  </span>
                                              </div>
                                              <div class="customer-info" fxLayout="column" fxLayoutAlign="start start">
                                                <div class="customer-title mb-8">Deliver to</div>
                                                <div class="lh-24">{{order.customerAddress}}</div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="change-status-and-print">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Change Status</mat-label>
                                              <mat-select [(ngModel)]="order.status" (ngModelChange)="updateOrder(order.status, order._id)">
                                                <mat-option value="Cancelled">Cancelled</mat-option>
                                                <mat-option value="Pending">Pending</mat-option>
                                                <mat-option value="Processing">Processing</mat-option>
                                                <mat-option value="Shipped">Shipped</mat-option>
                                                <mat-option value="Delivered">Delivered</mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                          </div>
                                        </div>
                                        <div class="ordered-product-info">
                                          <div class="header-product" fxLayout="row" fxLayoutAlign="space-between start">
                                            <div class="header-product-name">Product</div>
                                            <div class="header-right-part" fxLayout="row" [fxFlex]="30" fxLayoutAlign="space-between start">
                                              <div [fxFlex]="33">Quantity</div>
                                              <div [fxFlex]="33">Unit Price</div>
                                              <div [fxFlex]="33">Total</div>
                                            </div>
                                          </div>
                                          <div *ngFor="let product of order.products" class="every-product" fxLayout="row" fxLayoutAlign="space-between start">
                                            <div class="every-product-name">{{ product.name }}</div>
                                            <div class="every-right-part" fxLayout="row" [fxFlex]="30" fxLayoutAlign="space-between start">
                                              <div [fxFlex]="33">{{ product.quantity }}</div>
                                              <div [fxFlex]="33">{{ product.price }}</div>
                                              <div [fxFlex]="33">{{ product.quantity * product.price }}</div>
                                            </div>
                                          </div>
                                          <div class="total-break-down" fxLayout="row" fxLayoutAlign="end start">
                                            <div class="right-part p-20" fxLayout="column"  [fxFlex]="40" fxLayoutGap="16px" fxLayoutAlign="start start">
                                              <div class="total-single-line w-100"  fxLayout="row" fxLayoutAlign="space-between start">
                                                <div class="subtotal-text">Subtotal</div>
                                                <div class="subtotal-value">{{ order.subtotal }}</div>
                                              </div>
                                              <div class="total-single-line w-100"  fxLayout="row" fxLayoutAlign="space-between start">
                                                <div class="subtotal-text">Shipping Cost</div>
                                                <div class="subtotal-value">{{ order.shippingCost }}</div>
                                              </div>
                                              <div class="total-single-line w-100"  fxLayout="row" fxLayoutAlign="space-between start">
                                                <div class="subtotal-text">Total</div>
                                                <div class="subtotal-value">{{ order.totalAmount }}</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- <div>
                                          <mat-form-field appearance="outline">
                                            <mat-label>Notes</mat-label>
                                            <textarea matInput [(ngModel)]="order.notes"></textarea>
                                          </mat-form-field>
                                    
                                          <br />
                                          <button mat-button (click)="onSaveClick()">Save</button>
                                        </div> -->
                                      </div>
                                    </td>
                                  </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>