.title-box
{ 
  padding: 5px;
  text-align: center;
  .category-title
  {
    font-size: 20px;
    padding-bottom: 3px;
    border-bottom:1px solid #4ca64c;
  }
}
.category-card-list {
    flex-flow: row wrap;
  .category-card {
    width: 200px;
    height: 70px;
    margin: 10px;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .left{
      .category-icon{
          img{
            
              border: 1px solid #ccc;
              border-radius: 5px;
              width: 35px;
              height: 35px;
          }
      }
  }
   }
  .category-active{
    background: linear-gradient(to right,#fff 0,var(--theme-primary-500) 100%)
   }
}