.cart-details {
    height: calc(100vh - 64px);
    //width: 320px;
    //padding: 12px;
    background-color: #fff;
    //box-sizing: border-box;
    //box-shadow: -2px 0 12px 0 rgba(143, 143, 143, .38);
    //height: 100%;

    .cart-header {
        background: #e5f2e5;
        color: var(--theme-primary-500);
        width: 100%;
        padding: 12px;

        .close-button {
            padding: 0;
            height: 33px;
            width: 33px;
            cursor: pointer;
            border: none;
            color: var(--theme-primary-500);
            background: transparent;

            mat-icon {
                height: 32px;
                width: 32px;
                font-size: 32px;
            }

            mat-icon:hover {
                height: 33px;
                width: 33px;
                font-size: 33px;
                color: #006600;
            }
        }

        .cart-header-title {
            font-size: 20px;
            font-weight: bold;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .cart-item-list {
        width: 100%;
        height: calc(100vh - 185px);
       // height: 440px;
        overflow: auto;
        .cart-item {
            //min-height: 96px;
            padding: 8px;

            .item-img {
                img {
                    width: 72px;
                    height: 72px;
                }
            }

            .item-name-quantity {
                min-height: 96px;
                .item-name {
                    font-size: 14px;

                    .short-description {
                        margin-top: 4px;
                        opacity: .8;
                        font-size: 12px;
                    }
                }

                .counter-increase-decrease {
                    width: 102px;
                    height: 24px;

                    .add-remove-button {
                        mat-icon {
                            height: 18px;
                            width: 18px;
                            font-size: 18px;
                        }
                    }

                    //.remove-button {}

                    .item-counter {
                        font-weight: 500;
                    }

                    //.add-button {}
                }
            }

            .close-button-price {
                min-height: 96px;
                .close-button:hover {
                    color: #db1e3d;
                }

                .close-button {
                    cursor: pointer;
                    color: #b1aeae;
                }
            }
        }
    }

    .cart-footer {
        bottom: 0;
        position: absolute;
        width: 296px;
        padding: 12px;

        .place-order-amount {
            cursor: pointer;
            width: 100%;
            height: 40px;
            background: #4ca64c;
            border: none;
            color: #fff;
            font-size: 17px;
            line-height: 37px;
            padding: 0;
            -webkit-box-shadow: 0 0 3px #b1aeae;
            -moz-box-shadow: 0 0 3px #b1aeae;
            box-shadow: 0 0 3px #b1aeae;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;

            .place-order {
                color: #fff;
                font-size: 17px;
                line-height: 37px;
            }

            .total-amount {
                background: var(--theme-primary-500);
                float: right;
                height: 100%;
                width: 40%;
                line-height: 40px;
            }
        }
    }
}