<div class="container">
    <app-left-sidebar></app-left-sidebar>
    <!-- ========================= Main ==================== -->
    <div class="main">
        
        <app-top-bar></app-top-bar> 

        <!-- ======================= product list ================== -->

        <div class="content">
            <div class="product-list">
                <div class="pro-header" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
                    <div class="primary-color"  fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
                        <i class="fa-solid fa-arrow-left back-icon" (click)="onClickAdminPanel()"></i>
                        <h2>Product Lists</h2> 
                    </div>
                    <button class="btn" (click)="onClickAddProduct()"> 
                        <i class="fa-solid fa-plus mr-4"></i>
                        Add Product</button>
                </div>
                <div class="product-table">
                    <table>
                        <thead>
                            <tr style="position: sticky; top: 0;">
                                <td>Name</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Status</td>
                                <td>Action</td>
                            </tr>
                        </thead>

                        <tbody> 
                            <tr *ngFor="let product of products">
                                <td>{{ product.name }}</td>
                                <td style="margin-left: -20px;">{{ product.quantity }}</td>
                                <td>{{ product.price }}</td> 
                                <td><span class="status delivered-status">Active</span></td>
                                <td (click)="onClickAction($event, product._id)">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button (click)="editItem(product._id)" mat-menu-item>
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                        <button (click)="deleteItem(product._id)" mat-menu-item>
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>