<div class="container">
    
    <app-left-sidebar></app-left-sidebar>
        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
    
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    </label>
                </div>
    
                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>
            <div class="backbar">
              <div class="backbar-container" (click)="onClickAdminPanel()">
                <span><i class="fa-solid fa-arrow-left-long fa-2x"></i></span>
                <span>Back</span>
              </div>
            </div>
                <!-- ======================= product ================== -->
            <div id="product-content" class="content" style="margin-top: 20px;">
                <div class="product-container">
                    <form class="product-form">
                    <h3 class="product-title">
                        Add Your Category
                    </h3>
                    <div class="product-field-parent">
                        <mat-form-field class="mat-form-field product-field" appearance="outline">
                        <mat-label class="label-text">Category Name</mat-label>
                        <input
                            required
                            matInput
                            #categoryInput
                            name="ProductName"
                            placeholder="Enter your category Name"
                        />
                        <!-- <mat-error *ngIf="Name.invalid && Name.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                        </mat-form-field>
                        <div style="padding-bottom:18px;">
                            <label class="product-choose-label">Choose your product photo
                                <input type="file" size="60" >
                            </label> 
                            
                        </div>
                    </div>
                    
                    <button (click)="onClickAddCategory()" type="submit">Add</button>
                    </form>
                </div>
            </div>
    
        </div>
    </div>

    
 