<div class="container">
    
    <app-left-sidebar></app-left-sidebar>
        <!-- ========================= Main ==================== -->
        <div class="main">
            <app-top-bar></app-top-bar> 
                <!-- ======================= product ================== -->
              
                        
            <div  id="productlist-content" class="content">
                <div class="product-list">  
                <div class="pro-header" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
                    <div class="primary-color"  fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
                        <i class="fa-solid fa-arrow-left back-icon" (click)="onClickAdminPanel()"></i>
                        <h2>Add Category</h2> 
                    </div>
                    
                    <button class="btn" (click)="onClickAddCategory()">
                        <!-- <i class="fa-solid fa-plus mr-4"></i> -->
                        <i class="fa-solid fa-floppy-disk mr-4"></i>
                        Save</button>
                </div>
                <div class="product-container">
                    <form class="product-form">
                    <div class="product-title">
                        Basic Information
                    </div>
                    <div class="product-field-parent">
                        <mat-form-field class="mat-form-field product-field" appearance="outline">
                        <mat-label class="label-text">Category Name</mat-label>
                        <input
                            required
                            matInput
                            #categoryInput
                            name="ProductName"
                            placeholder="Enter your category Name"
                        />
                        <!-- <mat-error *ngIf="Name.invalid && Name.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                        </mat-form-field>
                        <div style="padding-bottom:18px;">
                            <div class="product-choose-label mb-16">Category Image *</div> 
                            <input type="file" size="60" >
                        </div>
                    </div>
                    
                    <!-- <button (click)="onClickAddCategory()" type="submit">Add</button> -->
                    </form>
                </div>
            </div>
            </div>
    
        </div>
    </div>

    
 