<div class="container">
    
    <app-left-sidebar></app-left-sidebar>
        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
    
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    </label>
                </div>
    
                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>
                <!-- ======================= product ================== -->
            <div id="product-content" class="content" style="margin-top: 30px;">
                <div class="product-container">
                    <form class="product-form">
                    <h3 class="product-title">
                        Add Your Category
                    </h3>
                    <div class="product-field-parent">
                        <mat-form-field class="mat-form-field product-field" appearance="outline">
                        <mat-label class="label-text">Product Name</mat-label>
                        <input
                            required
                            matInput
                            name="ProductName"
                            placeholder="Enter your product Name"
                        />
                        <!-- <mat-error *ngIf="Name.invalid && Name.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                        </mat-form-field>
                        <mat-form-field class="mat-form-field product-field" appearance="outline">
                        <mat-label class="label-text">Product description</mat-label>
                        <input
                            required
                            matInput
                            name="Product description"
                            placeholder="Enter your product description"
                        />
                        <!-- <mat-error *ngIf="Name.invalid && Name.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                        </mat-form-field>
                        <div class="product-phone-feild-conteiner product-field">
                        <mat-form-field class="mat-form-field" appearance="outline">
                            <mat-label class="label-text">Product Quantity</mat-label>
                            <input
                            required
                            matInput
                            name="Product quantity"
                            placeholder="Enter your product quantity"
                            />
                            <!-- <mat-error *ngIf="Phone.invalid && Phone.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                        </mat-form-field>
                        <mat-form-field class="mat-form-field" appearance="outline">
                            <mat-label class="label-text">Product price</mat-label>
                            <input
                            required
                            matInput
                            name="Product price"
                            placeholder="Enter your product price"
                            />
                            <!-- <mat-error *ngIf="AlternativePhone.invalid && AlternativePhone.value == ''">{{"REQUIRED_FIELD" | translate}}</mat-error> -->
                        </mat-form-field>
                        </div>
                        <div style="padding-bottom:40px;">
                            <label class="product-choose-label">Choose your product photo
                                <input type="file" size="60" >
                            </label> 
                            
                        </div>
                    </div>
                    
                    <button type="submit">Add Product</button>
                    </form>
                </div>
            </div>
    
        </div>
    </div>

    
 