.search-bar{
   // padding: 48px 24px;
    height: 55px;
    background-color: #008000;
    .menu-icon{
        margin-left: 40px;
        mat-icon{
            font-size: 36px;
            color: white;
            height: 36px;
            width: 36px;
        }
    }
    .logo{
        img{
            height: 50px;
            width: 182px;
        }
    }
    .search-input{
        margin-left: 48px;
        input{
            font-size: 18px;
            border: none;
            border-radius: 20px;
            padding: 12px 16px;
            width: 430px;
        }
    
        input:focus{
            outline: none;
        }
    }
}