<div class="container">
    <app-left-sidebar></app-left-sidebar>
    <!-- ========================= Main ==================== -->
    <div class="main">
        
        <app-top-bar></app-top-bar> 

        <!-- ======================= product list ================== -->

        <div id="productlist-content" class="content">
            <div class="product-list">
                <div class="pro-header" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
                    <div class="primary-color"  fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
                        <i class="fa-solid fa-arrow-left back-icon" (click)="onClickAdminPanel()"></i>
                        <h2>Product Lists</h2> 
                    </div>
                    <button class="btn" (click)="onClickAddProduct()"> 
                        <i class="fa-solid fa-plus mr-4"></i>
                        Add Product</button>
                </div>
                <div class="product-table">
                    <table>
                        <thead>
                            <tr style="position: sticky; top: 0;">
                                <td>Name</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody> 
                            <tr *ngFor="let product of products">
                                <td>{{ product.name }}</td>
                                <td style="margin-left: -20px;">{{ product.quantity }}</td>
                                <td>{{ product.price }}</td> 
                                <td><span class="status product-list-pending">Pending</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>