<div class="container">
    <app-left-sidebar></app-left-sidebar>
    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </label>
            </div>
            <button class="btn" (click)="onClickAddProduct()">Add Product</button>
            <div class="user">
                <img src="assets/imgs/customer01.jpg" alt="">
            </div>
        </div>
        <div class="backbar">
            <div class="backbar-container" (click)="onClickAdminPanel()">
              <span><i class="fa-solid fa-arrow-left-long fa-2x"></i></span>
              <span>Back</span>
            </div>
        </div>
        <!-- ======================= product list ================== -->
        <div id="productlist-content" class="content" style="margin-top: 30px;">
            <div class="product-list">
                <div class="pro-header">
                    <h2>Product Lists</h2> 
                </div>

                <table>
                    <thead>
                        <tr>
                            <td class="name-td">Name</td>
                            <td>Quantity</td>
                            <td>Price</td>
                            <td class="status-td">Status</td>
                        </tr>
                    </thead>

                    <tbody> 
                        <tr *ngFor="let product of products">
                            <td>{{ product.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.price }}</td> 
                            <td><span class="status product-list-pending">Pending</span></td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>