<div class="navigation">
     <div class="toggle toggle-design">
        <i class="fa-solid fa-bars mr-24"></i>
    </div>
    
    <ul>
        <li (click)="gotoHomePage()">
            <p>
                <span class="icon" 
                style="display: flex;
                justify-content: center;
                align-items: center;">
                    <img width="35px" height="35px" src="../../../../assets/images/tartaja2.png" alt="">
                </span>
                <span class="title">Tartaja</span>
            </p>
        </li>

        <li *ngFor="let item of sideBarMenuList; let i = index" (click)="onClickSidebarChange(item.id)" [ngClass]="{'active-option': this.selectedSideBar === item.id}">
            <p>
                <span class="icon">
                    <i class="{{ item.icon }}"></i>
                </span>
                <span class="title">{{item.name}}</span>
            </p>
        </li>
    </ul>
</div>