<div class="navigation">
     <div class="toggle toggle-design">
        <i class="fa-solid fa-bars mr-24"></i>
    </div>
    <ul>
        <li>
            <p>
                <span class="icon" 
                style="display: flex;
                justify-content: center;
                align-items: center;">
                    <img width="35px" height="35px" src="../../../../assets/images/tartaja2.png" alt="">
                </span>
                <span class="title">Tartaja</span>
            </p>
        </li>

        <li id="dashboard" (click)="onClickDashboard()">
            <p>
                <span class="icon">
                    <i class="fa-solid fa-house"></i>
                </span>
                <span class="title">Dashboard</span>
            </p>
        </li>

        <li id="product" (click)="onClickProductManagement()">
            <p>
                <span class="icon">
                    <i class="fas fa-file-medical"></i>
                </span>
                <span class="title">Product Management</span>
            </p>
        </li>

        <!-- <li id="productlist">
            <p>
                <span class="icon">
                    <i class="fa-solid fa-list-ul"></i>
                </span>
                <span class="title">Product Lists</span>
            </p>
        </li> -->

        <li>
            <p>
                <span class="icon">
                    <i class="fa-solid fa-question"></i>
                </span>
                <span class="title">Help</span>
            </p>
        </li>

        <li>
            <p>
                <span class="icon">
                    <i class="fa-solid fa-gear"></i>
                </span>
                <span class="title">Settings</span>
            </p>
        </li>

        <li>
            <p>
                <span class="icon">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <span class="title">Password</span>
            </p>
        </li>

        <li>
            <p>
                <span class="icon">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </span>
                <span class="title">Sign Out</span>
            </p>
        </li>
    </ul>
</div>