::ng-deep{
  .mat-form-field-flex{
    border-bottom: 1px solid #707070;
  }
}
.icon-button{
  float: right;
  margin-top: -12px;
  margin-right: -12px;
}
.sign-in-modal {
  .top-section {
    cursor: pointer;
    .cont_tabs_login {
      position: relative;
        float: left;
        width: 100%;
      }
      .ul_tabs{
        margin: 0;
        padding: 0;
      }
      .ul_tabs > li { 
      position: relative;
        float: left;
        width: 50%;
        list-style: none;
        text-align: center;
         
      }
      
      .ul_tabs > li > a  {  
      text-decoration: none;
      font-family: Helvetica;
      font-size: 16px;
          color: #999;
      line-height: 14px;
      padding: 20px ;
      display: block;
      transition: all 0.5s;
       
      }
      .ul_tabs > .active{
         
      }
      .ul_tabs > .active > a  {  
        color: var(--theme-primary-500);
         
      }
      
      .linea_bajo_nom {
        position: relative;
        width: 100%;
        float: left;
        background-color: #999;
        height: 2px;
      }
      
      .active .linea_bajo_nom {
        position: relative;
        width: 100%;
        float: left;
      background-color: var(--theme-primary-500);
      height: 2px;
      }
  }

  .body-section {
    :host {
      display: flex;
      justify-content: center;
      margin: 100px 0px;
    }

    .mat-form-field {
      width: 100%;
    }

    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
    }

    .error {
      padding: 16px;
      width: 300px;
      color: white;
      background-color: red;
    }

    .button {
      text-transform: capitalize;
      button{
        background: var(--theme-primary-500);
        text-transform: capitalize;
      }
    }
    .left-position{
      float: left;
    }
    .right-position{
      float: right;
    }
    input{
      color: black;
    }
  }
}