/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: sans-serif;
  src: url("./assets/fonts/MuliSansSerif.ttf");
}

// color pallete
// e5f2e5 : light - baground
// 4ca64c : place order - pre-primary
// 008000 : primary color
// 006600 : dark - border - hover
:root{
  --theme-primary-500: #008000;
  --theme-primary-light: #e5f2e5;
  --theme-primary-deep: #006600;
}

body {
  margin: 0 !important;
  font-family: sans-serif;
  color: #333;

  .h-100 {
    height: 100% !important;
  }

  .w-100{
    width: 100% !important;
  }

  // Margin
  .m-16{
    margin: 16px !important;
  }

  // Margin Top
  .mt-16{
    margin-top: 16px !important;
  }
  .mt-52{
    margin-top: 52px !important;
  }
 
  // Margin Righ
  .mr-4{
    margin-right: 4px !important;
  }
  .mr-16{
    margin-right: 16px !important;
  }
  .mr-24{
    margin-right: 24px !important;
  }

  // Margin Bottom
  .mb-8{
    margin-bottom: 8px !important;
  }
  .mb-16{
    margin-bottom: 16px !important;
  }
  .mb-20{
    margin-bottom: 20px !important;
  }
  // Margin Left
  .ml-16{
    margin-left: 16px !important;
  }
  .ml-8{
    margin-left: 8px !important;
  }
  // Padding
  .p-0{
    padding: 0 !important;
  }
  .p-16{
    padding: 16px !important;
  }
  .p-12{
    padding: 12px !important;
  }
  .p-20{
    padding: 20px !important;
  }
  .pt-0{
    padding-top: 0 !important;
  }
  .pb-0{
    padding-bottom: 0 !important;
  }
  .p-8-24{
    padding: 8px 24px !important;
  }
  //line-height
  .lh-24{
    line-height: 24px!important;
  }
  .bold{
    font-weight: bold !important;
  }
  //Float 
  .float-r{
    float: right !important;
  }
  .float-l{
    float: left !important;
  }
  .primary-color{
    color: var(--theme-primary-500) !important;
  }
  .display-none{
    display: none !important;
  }
  .cursor-pointer{
    cursor: pointer !important;
  }
  .place-content-center{
    place-content: center !important;
  }

  .primary-button:hover {
    background: var(--theme-primary-500);
    color: white;
    //border: none;
  }

  .primary-button {
    border-radius: 4px;
    width: 100%;
    height: 37px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: var(--theme-primary-500);
    padding: 6px 0;
    text-align: center;
    transition: all ease-in-out .15s;

    .primary-button-text {
      font-size: 14px;
      font-weight: 700;
    }
  }

  .counter-increase-decrease {
    border-radius: 4px;
    width: 100%;
    height: 37px;
    background-color: var(--theme-primary-500);
    border: 1px solid #ebebeb;
    color: white;
    text-align: center;
    transition: all ease-in-out .15s;

    .add-remove-button {
      background-color: var(--theme-primary-500);
      padding: 0 4px;
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      border: unset;
      color: white;
    }

    .remove-button {
      border-radius: 4px 0 0 4px;
      border-right: 1px solid #006600;

      // mat-icon {}
    }

    .item-counter {
      font-size: 14px;
      font-weight: 700;
    }

    .add-button {
      border-radius: 0 4px 4px 0;
      border-left: 1px solid #006600;

      // mat-icon {}
    }
  }

  .icon-button:hover {
    color: #db1e3d;
  }
  .icon-button {
    padding: 0;
    cursor: pointer;
    border: none;
    color: #b1aeae;
    background: transparent;

    mat-icon {
        height: 24px;
        width: 24px;
        font-size: 24px;
    }
  }
  
   /* ===================== Main ===================== */
   .main {
    position: absolute;
    width: calc(100% - 321px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 90px);
    left: 70px;
  }
  

   /* ===================== product list style ===================== */
.product-list {
  position: relative; 
  //max-width: 550px;
  margin: 0 auto;
  background: var(--white);
  margin: 0px 20px 0px 32px;
 // padding: 20px;
  //box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  //border: 1px solid #999;
  //border-radius: 20px;
}
.pro-header {
  padding: 28px 4px;
}
.pro-header h2 {
  font-weight: 600;
 // color: #01838c;
  padding-bottom: 10px; 
  margin: 0;
}
.back-icon{
  margin-right: 12px;
  height: 28px;
  margin-left: 8px;
  width: 20px;
  font-size: 20px;
  //margin-top: 10px;
}
.product-table{
  height: calc(100vh - 192px); 
  overflow: auto; 
  position: relative;
}
.product-list  table {
  width: 100%;
  border-collapse: collapse;
}
.product-list table thead td {
  font-weight: 600;
  background: gray;
}
.product-list table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-list table tr:last-child {
  //border-bottom: none;
}
.product-list table tbody tr:hover {
  background: var(--theme-primary-light);
  color: var(--white);
}
.product-list table tr td {
  padding: 16px 24px;
}
.product-list table tr td {
  text-align: start;
}
.product-list table tr td img{
    height: 32px;
    border-radius: 4px;
}
// .product-list table tr td:last-child {
//   text-align: center;
// }
// .product-list table tr td:nth-child() {
//   text-align: center;
// }
// .product-list table tr td:nth-child() {
//   text-align: center;
// }

.status{
  padding: 4px 8px;
  color: white !important;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}
  // all status color
  .pending-status {
    background: orange;
  }
  .processing-status {
    background:  #007bff;
  }
  .shipped-status {
    background: purple;
  }
  .delivered-status {
    background: green;
  }
  .cancelled-status {
    background: red;
  }
  .mat-select-value-text {
    color: #3498db !important; /* Change this to the color you prefer */
  }
.btn
{
  font-weight: 700;
  position: relative;
  padding: 12px;
  cursor: pointer;
  border: none;
  background: var(--theme-primary-500);
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
}
// product list - actually list - End

/* add-product-style */
.save-disabled {
  background: #DCDCDC !important;
  color: #888888 !important;
  cursor: not-allowed !important;
}
.product-container {
  max-width: 784px;
    //margin: 24px auto;
    padding: 24px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
  }
  
  .product-title {
    font-weight: 700;
    font-size: 16px;
    color: #212121;
    padding-bottom: 16px;
  }
  
  .product-sub-title {
    font-size: 13px;
    color: #666666;
  }
  .product-field
  {
   padding-top: 0px;
   padding-bottom: 10px;
  }
  .product-field-parent {
    display: flex;
    flex-direction: column;
  }
  
  .two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .radio-group-single-line{
    padding-bottom: 28px;
  }
  .radio-group-single-line-lebel{

  }
  
  h2,
  h3 {
    margin: 5px 0;
    text-align: center;
  }
  .product-choose-label{
    
  }
  // input[type="file"] {
  //   display: none;
  // }


//material Form filed design change - Start
  .mat-dialog-container {
    background: white;
    color: gray;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline{
    color: gray;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label{
    color: #707070;
  }
  .mat-focused .mat-form-field-label {
    color: var(--theme-primary-500) !important;
  }
  .mat-form-field-ripple {
    background-color: var(--theme-primary-500) !important;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: var(--theme-primary-500) !important;
  }
  .mat-input-element{
    color: black !important;
  }
  .mat-form-field-label{
    color: gray;
  }
  .mat-form-field{
    input::placeholder{
      color:gray;
    }
  }
  .mat-focused .mat-form-field-required-marker{
    color: red;
  }
//material Form filed design change - End

// Mobile - Responsive - Media query - Start
 
@media screen and (max-width: 765px) {
  .top-bar {
      height: 115px !important;
  }
  .main-content {
      height: calc(100vh - 115px) !important;
      .category-products {
          position: absolute;
          box-shadow: 0 5px 15px #ccc;
          top: 64px;
      }
      .products-carousel-and-cart {
          width: 100% !important;
          .cart-details {
            height: 100vh;
            width: 100% !important;
            z-index: 4;
            top: 0;
          }
      }
  }
}
// Mobile - Responsive - Media query - End
}


// ************************* Sample Codes for frequent re-use ****************************

//  Sample Flex Design
//  fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center"
//      fxLayout="column" fxFlex="75%",
//          fxLayout="row"  fxLayoutGap="16px"


// ************************* Sample Codes for frequent re-use ****************************
