/* You can add global styles to this file, and also import other style files */
body{
margin: 0 !important;
font-family: sans-serif; 
}
@font-face {
    font-family: sans-serif;
    src: url("./assets/fonts/MuliSansSerif.ttf");
  }